<div class="row">
  <div class="col">

    <form [formGroup]="form">
      <div formArrayName="employees">
        <div class="card" *ngFor="let employee of employees.controls; let i = index" [formGroupName]="i">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <label>First Name:</label>
                <input type="text" class="form-control" formControlName="firstName">
              </div>
              <div class="col">
                <label>Middle Name:</label>
                <input type="text" class="form-control" formControlName="middleName">
              </div>
              <div class="col">
                <label>Last Name:</label>
                <input type="text" class="form-control" formControlName="lastName">
              </div>
              <div class="col"></div>
            </div>
            <div class="row" formArrayName="dependents">
              <div class="col-2">Dependents</div>
              <div class="col-10">
                <div class="row" *ngFor="let dependent of employee.get('dependents').controls; let d = index" [formGroupName]="d">
                  <div class="col">
                    <label>First Name:</label>
                    <input type="text" class="form-control" formControlName="firstName">
                  </div>
                  <div class="col">
                    <label>Middle Name:</label>
                    <input type="text" class="form-control" formControlName="middleName">
                  </div>
                  <div class="col">
                    <label>Last Name:</label>
                    <input type="text" class="form-control" formControlName="lastName">
                  </div>
                  <div class="col">
                    <label></label>
                    <div>
                      <button class="btn btn-primary" (click)="addDependent(employee.value.id)"><i class="fa-plus-circle fas"></i> Dependent</button>
                    </div>
                  </div>
                  <div class="col">
                    <label></label>
                    <div>
                      <button class="btn btn-primary" (click)="removeDependent(employee.value.id, d)"><i class="fa-minus-circle fas"></i> Dependent</button>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="employee.get('dependents').controls.length < 1">
                  <div class="col">
                    <label></label>
                    <div>
                      <button class="btn btn-primary" (click)="addDependent(employee.value.id)"><i class="fa-plus-circle fas"></i> Dependent</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-right">
          <button class="btn btn-primary" (click)="addEmployee()"><i class="fa-plus-circle fas"></i> Employee</button>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col">
        <button class="btn btn-primary" (click)="calculateCost()">Calculate Benefit Cost</button>
      </div>
    </div>

    <div class="row" *ngIf="totalBenefitCost">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col text-right">
                <h1 class="display-4">Total Benefit Cost</h1>
              </div>
              <div class="col text-left">
                  <h1 class="display-4" [textContent]="totalBenefitCost | currency:'USD'"></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
