<div class="container-fluid">
  <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" (click)="changeActiveRoute('/')" [ngClass]="{'active': activeRoute === '/'}" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="changeActiveRoute('/employee')" [ngClass]="{'active': activeRoute === '/employee'}" routerLink="/employee">Employee</a>
        </li>
      </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
